body {
  margin: 0;
  position: relative;
  background: #e1e3e8;
  overflow: hidden;
  width: 1067px;
  height: 600px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1, h2, h3 {
  text-shadow: #fff 1px 1px 1px;
}

h1 {
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

li {
  line-height: 150%;
}
#result{
  display:none;
  background-color:#444;
  color:#fff;
  text-shadow:1px 1px 1px #000;
  text-align: center;
  width:40%;
  margin:0 0 20px 30%;
  padding:5px;
  border-radius:5px;
}
#result.success{
  background-color:darkgreen;
}
#result.error{
  background-color:red;
}
